h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body       
        li Reconocer el modelo organizacional según criterios técnicos.
.card.resultado-item
    .card-body  
        li Establecer un modelo organizacional teniendo en cuenta necesidades del entorno y parámetros técnicos.
.card.resultado-item
    .card-body  
        li Verificar el proceso de implementación del modelo organizacional de acuerdo con parámetros definidos.
.card.resultado-item
    .card-body  
        li Ajustar plan de implementación del modelo de desarrollo organizacional cumpliendo parámetros técnicos.
        





