h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body       
        ul.bg-color-dark.mb-0
            li.mb-0
                span  Reconocer el modelo organizacional según criterios técnicos.
.card.resultado-item
    .card-body  
        ul.bg-color-dark.mb-0
            li.mb-0
                span Establecer un modelo organizacional teniendo en cuenta necesidades del entorno y parámetros técnicos.
.card.resultado-item
    .card-body  
        ul.bg-color-dark.mb-0
            li.mb-0
                span Verificar el proceso de implementación del modelo organizacional de acuerdo con parámetros definidos.
.card.resultado-item
    .card-body  
        ul.bg-color-dark.mb-0
            li.mb-0
                span Ajustar plan de implementación del modelo de desarrollo organizacional cumpliendo parámetros técnicos.
        





