h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas      
                    +navTemaItem('text', 'Introducción', 'main.html#page/introduccion/')            
                    +navTemaItem('1', 'Desarrollo rural y políticas agrarias en Colombia', 'main.html#page/desarrollo_rural/') 
                    +navTemaItem('2', 'Sistema Nacional de Innovación Agropecuaria (SNIA)', 'main.html#page/sistema_nacional_innovacion_agropecuaria/') 
                    +navTemaItem('3', 'Diagnóstico rural participativo (DRP)', 'main.html#page/diagnostico_rural_participativo/') 
                    +navTemaItem('4', 'Clasificación y registro de usuarios del servicio público de extensión agropecuaria', 'main.html#page/clasificacion_registro_usuarios/')