.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody
                                  
                tr
                    td Agencia de desarrollo rural, (2019). Resolución 0422 de 2019
                    td PDF
                    td 
                        a(href="media/documentos/Resolucion_0422_del_05-07-2019.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver  
                tr
                    td Expósito, (2003) Diagnóstico rural participativo.
                    td PDF
                    td 
                        a(href="media/documentos/Diagnostico_Rural_Participativo.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Ministerio de agricultura y desarrollo rural, (2017). Resolución 0464de 2017
                    td PDF
                    td 
                        a(href="media/documentos/Resolucion_No_000464_de_2017.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver     
                tr
                    td Presidencia de la república, (2020). Decreto 1319 de 2020
                    td PDF
                    td 
                        a(href="media/documentos/Decreto_1319_de_2020.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver     