.container#tema_2

    .header-ecored
      h1 2. Sistema Nacional de Innovación Agropecuaria (SNIA) 

    .jumbotron.bg-white       
      .row.mb-5 
        .col-12 
          img(src="assets/images/pages/tema_2/img_2_01.jpg", alt="", style="width:100%;")

      .row.justify-content-center.mb-5 
        .col-10.col-lg-11.ml-0.ml-lg-5      
          .card-media(style="background-color:#F6FF9B")
            .card-media__body 
              .card__figure
                img(src="assets/images/pages/tema_2/icon_2_01.svg", alt="", style="width:100px")
              .card__copy                 
                p.mb-0 #[strong La Ley 1876 de diciembre 27 de 2017 Sistema Nacional de Innovación Agropecuaria] se crea con el fin de dar respuesta al primer punto del acuerdo de paz y derogar la Ley 607 de 2000 que creó la Unidad Municipal de Asistencia Técnica Agropecuaria (UMATA) y reglamentó la asistencia técnica directa rural; en esta normativa se establecen los criterios para la creación, articulación y puesta en marcha de tres subsistemas, además, de su respectiva reglamentación mediante decretos, resoluciones y ordenanzas.
        .col-12 
          p.mb-0 A continuación se brindará una explicación breve de la #[strong jerarquía de las normas, la aplicación de la Ley 1876 de 2017 (SNIA) y normas reglamentarias para la formulación de proyectos agropecuarios].      
        
      .hr-divider.my-5

      .row.mb-5
        .col-12#tema_2_1
          h2 2.1 Jerarquía de las normas en Colombia

      .sliderWrapper(style="padding:2rem; border-radius:16px; background-color:#E2F5FF") 
        .row.justify-content-center
          .col-12
            #carousel_2_1.carousel.slide(data-ride='carousel')
              ol.carousel-indicators
                li.active(data-target='#carousel_2_1', data-slide-to='0')
                li(data-target='#carousel_2_1', data-slide-to='1')        
                
              .carousel-inner
                .carousel-item.active
                  img.d-block.w-100(src='assets/images/pages/tema_2/slider_2_1_01.png', alt='0')
                .carousel-item
                  img.d-block.w-100(src='assets/images/pages/tema_2/slider_2_1_02.png', alt='1')
                                              
                                                    
              a.carousel-control-prev(href='#carousel_2_1', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
              a.carousel-control-next(href='#carousel_2_1', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next
      
      .row.justify-content-center.mt-5             
        .col-auto 
          a(href="media/documentos/Jerarquia_Normas_Colombia.pdf",target="_blank",style="color:#12263F") 
            .jumbotron(style="background-color:#CDDC39;").mb-0.p-4
              .row.justify-content-center.align-items-center
                .col-auto
                  img(src="assets/images/pages/icons/icon_media_pdf.svg", alt="", style="width:55px")
                .col
                  p.mb-0 #[strong Recurso.] Jerarquía de las normas en Colombia

      .hr-divider.my-5

      .row
        .col-12#tema_2_2 
          h2 2.2 Sistema Nacional de Innovación Agropecuaria Ley 1876 de diciembre 27 de 2017

      .row.justify-content-center.mb-5 
        .col-10.col-lg-11.ml-0.ml-lg-5        
          .card-media(style="background-color:#E2F5FF")
            .card-media__body 
              .card__figure
                img(src="assets/images/pages/tema_2/icon_2_02.svg", alt="", style="width:100px")
              .card__copy                 
                p.mb-0 #[strong La Ley 1876 de diciembre 27 de 2017 del Sistema Nacional de Innovación Agropecuaria, se establece con el objeto de crear y poner en marcha el Sistema Nacional de Innovación Agropecuaria (SNIA)], compuesto por subsistemas, planes estratégicos, instrumentos de planificación y participación, plataformas de gestión, procedimientos para su implementación, así como mecanismos para su financiación, seguimiento y evaluación; además crea nuevas funciones, competencias y mecanismos de articulación de las entidades y organismos de coordinación del orden nacional y territorial que componen el SNIA y crea el servicio público de extensión agropecuaria y normas para su prestación (Diciembre 27 de 2017 DO N° 50.461).
      
      .row.justify-content-center.mb-5 
        .col-12.mb-5
          p #[strong La Ley 1876 de 2017 se crea en el artículo 4 del SNIA], como un subsistema del Sistema Nacional de Competitividad, Ciencia, Tecnología e Innovación (SNCCT), que será coordinado por el Ministerio de Agricultura y Desarrollo Rural (MADR); el SNIA está integrado por tres subsistemas:

        .col-12.col-lg-8.mb-4 
          .pill(style="padding: 1rem 2rem; border: 3px solid #00838F; border-radius:999px")
            p.mb-0 1. Subsistema nacional de investigación y desarrollo tecnológico agropecuario
        .col-12.col-lg-8.mb-4 
          .pill(style="padding: 1rem 2rem; border: 3px solid #00838F; border-radius:999px")
            p.mb-0 2.	Subsistema nacional de extensión agropecuaria
        .col-12.col-lg-8.mb-4 
          .pill(style="padding: 1rem 2rem; border: 3px solid #00838F; border-radius:999px")
            p.mb-0 3.	Subsistema Nacional de formación y capacitación para la innovación agropecuaria

      .row.justify-content-center.mb-5
        .col-12.col-lg-10.mb-4 
          img(src="assets/images/pages/tema_2/info_2_2_01.svg", alt="", style="width:100%")

      .row.mb-5
        .col-12 
          p En la formulación de proyectos productivos agropecuarios se debe tener en cuenta las orientaciones que en materia de normatividad existente en el país, la Ley 1876 de 2017 Diciembre 27 de 2017 DO N° 50.461 es el marco normativo que guía la política agraria en Colombia; en el Título III, artículo 24 define la extensión agropecuaria como un bien y un servicio de carácter público, permanente y descentralizado; y comprende las acciones de acompañamiento integral orientadas a diagnosticar, recomendar, actualizar, capacitar, transferir, asistir, empoderar y generar competencias en los productores agropecuarios para que estos incorporen en su actividad productiva prácticas, productos tecnológicos, tecnologías, conocimientos y comportamientos que beneficien su desempeño y mejoren su competitividad y sostenibilidad, así como su aporte a la seguridad alimentaria y su desarrollo como ser humano integral.
          p La norma establece cinco aspectos que se deben tener en cuenta en el momento de prestar el servicio de extensión agropecuaria, como son:

      .row.justify-content-center.mb-5 
        .col-12.col-lg-8.mb-4 
          img(src="assets/images/pages/tema_2/info_2_2_02.svg", alt="", style="width:100%")

      .row
        .col-12
          p Al mismo tiempo estos aspectos hacen parte de la herramienta de registro y clasificación de usuarios en la que se debe registrar a los productores para poder ser beneficiarios de los proyectos agropecuarios que sean gestionados en el municipio.
          p.mb-4 En el proceso de extensión agropecuaria los profesionales del sector deben realizar el acompañamiento a productores según el grado de organización, si son población dispersa pero definida por un territorio (vereda) o línea productiva (ganadera, agrícola, agroindustrial); si hacen parte de una organización comunitaria (asociación, cooperativa, etc.) o si tienen una empresa agropecuaria rural. En este acompañamiento el extensionista fortalece, capacita y acompaña a la organización en temas normativos para ello debe tener en cuenta el PDEA que en el artículo 29 lo define como el Plan departamental de extensión agropecuaria el cual es el instrumento de planificación cuatrienal en cada departamento, que en coordinación con sus municipios, distritos y demás actores del SNIA, definirá los elementos estratégicos y operativos para la prestación del servicio de extensión. En este mismo artículo 29 se hace referencia a los elementos mínimos que debe tener el PDEA (Congreso de Colombia, 2017):

        .col-12.mb-3
          .pill(style="padding: 1rem 1.5rem; border: 3px solid #CDDC39; border-radius:12px")
            p.mb-0 #[strong 1.]	Líneas productivas priorizadas a atender mediante los servicios de extensión agropecuaria, sus limitantes y requerimientos.
        .col-12.mb-3
          .pill(style="padding: 1rem 1.5rem; border: 3px solid #CDDC39; border-radius:12px")
            p.mb-0 #[strong 2.] Población objeto del servicio caracterizada respecto a sus condiciones socioeconómicas, culturales y productivas.
        .col-12.mb-3
          .pill(style="padding: 1rem 1.5rem; border: 3px solid #CDDC39; border-radius:12px")
            p.mb-0 #[strong 3.] Estrategias y actividades requeridas para dar solución a las problemáticas y/o potenciar los sistemas productivos, el capital social, el capital humano, y la gestión de los recursos naturales, con sus respectivos cronogramas de ejecución.
        .col-12.mb-3
          .pill(style="padding: 1rem 1.5rem; border: 3px solid #CDDC39; border-radius:12px")
            p.mb-0 #[strong 5.]	Los objetivos, indicadores y metas en términos de productividad, competitividad y generación de ingresos.
        .col-12.mb-3
          .pill(style="padding: 1rem 1.5rem; border: 3px solid #CDDC39; border-radius:12px")
            p.mb-0 #[strong 6.] La planificación financiera y de gastos asociados a la prestación del servicio.
        .col-12.mb-3
          .pill(style="padding: 1rem 1.5rem; border: 3px solid #CDDC39; border-radius:12px")
            p.mb-0 #[strong 7.] Programas y proyectos regionales para la generación de capacidades, acceso a mercados y provisión de bienes, servicios e infraestructura sectorial, con los cuales deba articularse el servicio de extensión agropecuaria.
        .col-12.mb-3
          .pill(style="padding: 1rem 1.5rem; border: 3px solid #CDDC39; border-radius:12px")
            p.mb-0 #[strong 8.] Las acciones regionales de manejo sostenible de los recursos naturales, de gestión del riesgo agroclimático y de adaptación al cambio climático.
        .col-12.mb-3
          .pill(style="padding: 1rem 1.5rem; border: 3px solid #CDDC39; border-radius:12px")
            p.mb-0 #[strong 9.] Los sistemas territoriales de innovación, alianzas interinstitucionales, redes e iniciativas orientadas a la innovación agropecuaria regional, que deban ser articuladas con el servicio público de extensión agropecuaria.
        .col-12.mb-3
          .pill(style="padding: 1rem 1.5rem; border: 3px solid #CDDC39; border-radius:12px")
            p.mb-0 #[strong 10.] La articulación con los planes y programas de prestación de servicios de extensión o asistencia técnica agropecuaria adelantados con recursos de los Fondos Parafiscales Agropecuarios y Pesqueros. En el caso que el PDEA incluya productores ya beneficiados por la parafiscalidad agropecuaria, en la definición de la tarifa del servicio no se tendrá en cuenta el aporte correspondiente.
        .col-12.mb-3
          .pill(style="padding: 1rem 1.5rem; border: 3px solid #CDDC39; border-radius:12px")
            p.mb-0 #[strong 11.] Programas y proyectos para mejorar y/o mantener el estatus sanitario, fitosanitario y de inocuidad en la producción agropecuaria.
        .col-12.mb-3
          .pill(style="padding: 1rem 1.5rem; border: 3px solid #CDDC39; border-radius:12px")
            p.mb-0 #[strong 12.] Desarrollo y uso de nuevas tecnologías para la información y la comunicación TIC para impulsar, apoyar y/o soportar los distintos procesos de gestión de conocimiento que hacen parte de la extensión agropecuaria.

      .hr-divider.my-5
      .row.mb-5
        .col-12.mb-5#tema_2_3
          h2 2.3 Resolución 407 de octubre 30 de 201
        .col-12.mb-3
          h3(style="font-size:18pt; font-weight:700;") #[span(style="color:#00838F;") La Resolución 407 de 2018 en el Capítulo IV artículo 4.2] adopta los lineamientos para los Planes Departamentales de Extensión Agropecuaria que a continuación se describen:
        .col-12 
          p El PDEA como instrumento de planificación del subsistema de extensión agropecuaria. En la formulación se debe tener en cuenta documentos como el Plan Estratégico de Ciencia Tecnología para el Sector Agropecuario (PECTIA), planes y acuerdos estratégicos, Agendas integradas de competitividad, planes de desarrollo municipal, plan agropecuario municipal y departamental, Planes de Acción para la Transformación del Regional (PART), Planes de Desarrollo con Enfoque Territorial (PDET), Planes Integrales Comunitarios y Municipales de Sustitución y Desarrollo Alternativo (PISDA), Programa Nacional Integral de Sustitución de Cultivos de Uso Ilícito (PNIS), esquemas y planes de ordenamiento territorial vigentes, zonas de protección nacional, regional, local; aptitud y vocación de uso generados por la Unidad de Planificación Rural Agropecuaria (UPRA); Estudio general de suelos para los departamentos; Plan de Manejo y Ordenamiento de Cuencas (POMCA); datos del censo nacional agropecuario 2014.
        
      .row.justify-content-center.mb-5 
        .col-12.col-lg-10.mb-4 
          img(src="assets/images/pages/tema_2/info_2_3_01.svg", alt="", style="width:100%")
          p.mt-5.text-center #[i Fuente: Secretarios de Cadenas Pecuarias Ministerio de Agricultura]

      .row  
        .col-12 
          p.mb-2 #[strong Participación de los actores en la formulación del PDEA] 
          p.mb-4 En la etapa de formulación participan los municipios y distritos, realizando el fortalecimiento de los Consejos Municipales de Desarrollo Rural (CMDR) que son los espacios de diálogo y concertación de las necesidades e iniciativas en materia de extensión agropecuaria; entre los actores que deben tener representación están las comunidades étnicas, las mujeres, los jóvenes y cualquier otra población.
          p.mb-2 #[strong Formulación cuatrienal del PDEA] 
          p Solo se debe formular para un periodo no mayor de cuatro años en los cuales las entidades prestadoras del servicio de extensión agropecuaria prestarán el servicio a partir de las orientaciones del PDEA.

      .row 
        .col-12 
          nav.nav-tab-ecored.my-5
            #nav-tab.nav.nav-tabs(role='tablist')
              a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                strong Preparación
              a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                strong Diagnóstico
              a#nav-03-tab.nav-item.nav-link(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false') 
                strong Análisis
              a#nav-04-tab.nav-item.nav-link(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='false') 
                strong Identificación
              a#nav-05-tab.nav-item.nav-link(data-toggle='tab', href='#nav-05', role='tab', aria-controls='nav-05', aria-selected='false') 
                strong Divulgación del PDEA
                        
            #nav-tabContent.tab-content
              #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab') 
                .row.align-items-center
                  .col-auto 
                    img(src="assets/images/pages/tema_2/icon_2_3_01.svg", alt="", style="width:120px")
                  .col 
                    p.mb-0 En esta etapa los equipos formuladores de las secretarías de agricultura departamental y con el acompañamiento técnico de la Agencia de Desarrollo Rural (ADR), determinan los tiempos, movimientos recursos, mecanismos de coordinación con los municipios y demás actores del SNIA para la puesta en marcha del proceso.

              #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                .row.align-items-center
                  .col-auto 
                    img(src="assets/images/pages/tema_2/icon_2_3_02.svg", alt="", style="width:120px")
                  .col 
                    p.mb-0 Esta fase debe tener en cuenta tres consideraciones, primero revisión de la información secundaria, establecer las capacidades del territorio, tipos de cadenas productivas importantes, características demográfica y los instrumentos de planificación para el sector agropecuario; segundo identificación de principales problemas o retos cómo operan las cadenas productivas sus principales problemas o retos, etc y por último caracterización de los usuarios, que es el levantamiento de la información primaria con la que se clasifica a los productores por niveles según los criterios de gradualidad establecidos por el MADR en el instrumento de registro y clasificación de usuarios.

              #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')
                .row.align-items-center
                  .col-auto 
                    img(src="assets/images/pages/tema_2/icon_2_3_03.svg", alt="", style="width:120px")
                  .col 
                    p.mb-0 Se realiza el estudio de la información primaria y secundaria con el fin de establecer, en un primer lugar la composición socio productiva, segundo identificar las principales problemáticas, retos y brechas en extensión agropecuaria, tercero la población sujeto del servicio respecto a sus condiciones socioeconómicas, culturales y productivas y en cuarto lugar las características de los mercados en los que se mueven los productos agrícolas.

              #nav-04.tab-pane.fade(role='tabpanel', aria-labelledby='nav-04-tab')
                .row.align-items-center
                  .col-auto 
                    img(src="assets/images/pages/tema_2/icon_2_3_04.svg", alt="", style="width:120px")
                  .col 
                    p.mb-0 Es la base en la cual se concretarán los programas de extensión agropecuaria del PDEA los cuales deben incluir líneas de acción, ejes temáticos, estrategias, actividades, objetivos, indicadores, las metas a alcanzar y el cronograma. Luego desde los municipios y distritos se deben formular y ejecutar proyectos de extensión agropecuaria, teniendo en cuenta los parámetros establecidos en los programas de extensión agropecuaria del PDEA.

              #nav-05.tab-pane.fade(role='tabpanel', aria-labelledby='nav-05-tab')
                .row.align-items-center
                  .col-auto 
                    img(src="assets/images/pages/tema_2/icon_2_3_05.svg", alt="", style="width:120px")
                  .col 
                    p.mb-0 Al finalizar el proceso de formulación del PDEA, pasa a sanción de la Asamblea Departamental quien mediante ordenanza los aprueba y pasa a divulgarse a los actores del SNIA a través de medios electrónicos y/o físicos.

      .sliderWrapper(style="padding:2rem; border-radius:16px; background-color:#E2F5FF") 
        .row.justify-content-center
          .col-12
            #carouselExampleIndicators.carousel.slide(data-ride='carousel')
              ol.carousel-indicators
                li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                li(data-target='#carouselExampleIndicators', data-slide-to='1')
                li(data-target='#carouselExampleIndicators', data-slide-to='2')
                li(data-target='#carouselExampleIndicators', data-slide-to='3')
                li(data-target='#carouselExampleIndicators', data-slide-to='4')
                
              .carousel-inner
                .carousel-item.active
                  img.d-block.w-100(src='assets/images/pages/tema_2/slider_2_3_01.svg', alt='0')
                .carousel-item
                  img.d-block.w-100(src='assets/images/pages/tema_2/slider_2_3_02.svg', alt='1')
                .carousel-item
                  img.d-block.w-100(src='assets/images/pages/tema_2/slider_2_3_03.svg', alt='2')
                .carousel-item
                  img.d-block.w-100(src='assets/images/pages/tema_2/slider_2_3_04.svg', alt='3')
                .carousel-item
                  img.d-block.w-100(src='assets/images/pages/tema_2/slider_2_3_05.svg', alt='4')                                
                                                    
              a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
              a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next
                            

      .hr-divider.my-5
      .row.mb-4
        .col-12#tema_2_4
          h2 2.4 Resolución 422 de 05 de julio de 2019

      .row.mb-5
        .col-12 
          p.mb-5 Mediante esta resolución se reglamenta el artículo 33 de la Ley 1876 de 2017; tiene por objeto reglamentar la relación con el procedimiento y los requisitos de habilitación de las Entidades Prestadoras del Servicio de Extensión Agropecuaria (EPSEA) para la elaboración, publicación y actualización del registro de EPSEA habilitadas para la prestación del servicio público de extensión agropecuaria. A continuación, se relacionan los aspectos más relevantes:
          p #[strong Requisitos de habilitación de Entidades Prestadoras del Servicio de Extensión Agropecuaria (EPSEA)]
          p Las entidades que pueden inscribirse en el registro de EPSEA son las que se encuentran en el artículo 32 de la ley 1876 de 2017 y que acrediten los requisitos del artículo 33 de la misma Ley. Las entidades que deseen constituirse como EPSEA deben tener un equipo mínimo con los siguientes perfiles:

      #accordionExample.accordion.mb-5
        .card
          #heading01.card-header
            h2.mb-0
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse01', aria-expanded='true', aria-controls='collapse01')
                h3.mb-0.collapsable-title Director
          #collapse01.collapse.show(aria-labelledby='heading01', data-parent='#accordionExample')
            .card-body(style="background-color:#eaf6fc; padding-top:3rem; padding-bottom:3rem;")
              p Un (1) profesional titulado en alguna de las siguientes profesiones: administración; economía; contaduría pública; agronomía; biología, microbiología y afines; ingeniería agrícola, forestal y afines; ingeniería agroindustrial, alimentos y afines; ingeniería agronómica, pecuaria y afines; medicina veterinaria; zootecnia; ingeniería administrativa y afines; ingeniería industrial y afines; antropología, artes liberales; sociología, trabajo social y afines; derecho; con tarjeta profesional vigente.
                        
        .card
          #heading02.card-header
            h2.mb-0
              button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse02', aria-expanded='false', aria-controls='collapse02')
                h3.mb-0.collapsable-title Coordinador de proyectos agropecuarios
          #collapse02.collapse(aria-labelledby='heading02', data-parent='#accordionExample')
            .card-body(style="background-color:#eaf6fc; padding-top:3rem; padding-bottom:3rem;")
              p Un (1) profesional titulado en alguna de las siguientes profesiones: agronomía; biología, microbiología y afines; ingeniería agrícola, forestal y afines; administración; economía; ingeniería agroindustrial, alimentos y afines; ingeniería agronómica, pecuaria y afines; medicina veterinaria; zootecnia, con tarjeta profesional vigente.

        .card
          #heading03.card-header
            h2.mb-0
              button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse03', aria-expanded='false', aria-controls='collapse03')
                h3.mb-0.collapsable-title Coordinador administrativo y financiero
          #collapse03.collapse(aria-labelledby='heading03', data-parent='#accordionExample')
            .card-body(style="background-color:#eaf6fc; padding-top:3rem; padding-bottom:3rem;")
              p Un (1) profesional titulado en alguna de las siguientes profesiones: agronomía; biología, microbiología y afines; ingeniería agrícola, forestal y afines; administración; economía; ingeniería agroindustrial, alimentos y afines; ingeniería agronómica, pecuaria y afines; medicina veterinaria; zootecnia, con tarjeta profesional vigente.

        .card
          #heading04.card-header
            h2.mb-0
              button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse04', aria-expanded='false', aria-controls='collapse04')
                h3.mb-0.collapsable-title Coordinador de procesos asociativos y comerciales
          #collapse04.collapse(aria-labelledby='heading04', data-parent='#accordionExample')
            .card-body(style="background-color:#eaf6fc; padding-top:3rem; padding-bottom:3rem;")
              p Un (1) profesional titulado en alguna de las siguientes profesiones: administración; economía; ingeniería administrativa y afines; ingeniería industrial y afines; antropología, artes liberales; sociología, trabajo social y afines con tarjeta profesional vigente.

        .card
          #heading05.card-header
            h2.mb-0
              button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse05', aria-expanded='false', aria-controls='collapse05')
                h3.mb-0.collapsable-title Coordinador ambiental
          #collapse05.collapse(aria-labelledby='heading05', data-parent='#accordionExample')
            .card-body(style="background-color:#eaf6fc; padding-top:3rem; padding-bottom:3rem;")
              p Un (1) profesional titulado en alguna de las siguientes profesiones: ingeniería ambiental, sanitaria y afines; ingeniería civil y afines; geología, otros programas de ciencias naturales; administración; ingeniería agrícola, forestal y afines; biología, microbiología y afines, con tarjeta profesional vigente.

        .card
          #heading06.card-header
            h2.mb-0
              button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse06', aria-expanded='false', aria-controls='collapse06')
                h3.mb-0.collapsable-title Asesor jurídico
          #collapse06.collapse(aria-labelledby='heading06', data-parent='#accordionExample')
            .card-body(style="background-color:#eaf6fc; padding-top:3rem; padding-bottom:3rem;")
              p Un (1) profesional titulado en derecho, con tarjeta profesional vigente, con título de posgrado en alguno de los siguientes niveles de formación: especialización universitaria; maestría; doctorado. 


      .row.align-items-center.mb-5
        .col-auto 
          img(src="assets/images/pages/tema_2/icon_2_4_01.svg", alt="", style="width:75px;")
        .col 
          p.mb-0 #[strong Capacidades para ejecutar los PDEA:] son las capacidades humanas, técnico productivas, de mercadeo y comercialización, así como las capacidades sociales integrales y el fortalecimiento de la asociatividad, desarrollo empresarial, innovación, investigación y uso de las TIC, gestión sostenible de recursos naturales y desarrollo de habilidades para la participación de los productores en la política pública sectorial, con que debe contar la entidad que pretende habilitarse como EPSEA.
      .row.align-items-center.mb-5
        .col-auto 
          img(src="assets/images/pages/tema_2/icon_2_4_01.svg", alt="", style="width:75px;")
        .col 
          p.mb-0 #[strong Vínculo comprobable con organizaciones de formación, capacitación, ciencia, tecnología e innovación:] en este ítem las entidades deben demostrar, mediante documento idóneo, que cuentan con vínculos vigentes, tales como contratos, convenios, alianzas y/o acuerdos, con entidades de educación, de formación y/o de capacitación en el sector agropecuario, o con centros de investigación y de desarrollo tecnológico, que en general adelanten actividades de ciencia, tecnología e innovación del sector agropecuario. 
      .row.align-items-center.mb-5
        .col-auto 
          img(src="assets/images/pages/tema_2/icon_2_4_01.svg", alt="", style="width:75px;")
        .col 
          p.mb-0 #[strong Capacidad Financiera:] las entidades deben acreditar la siguiente capacidad financiera: 1. Índice de Liquidez mayor o igual a 1.00 veces. (Activo Corriente / Pasivo Corriente); 2. Índice de endeudamiento menor o igual al 75.00%. (Pasivo Total / Activo Total).      
      .row.align-items-center.mb-5
        .col-auto 
          img(src="assets/images/pages/tema_2/icon_2_4_01.svg", alt="", style="width:75px;")
        .col 
          p.mb-0 #[strong Constitución y situación legal conforme:] las entidades que deseen registrarse como EPSEA deben cumplir con los requisitos establecidos en el Artículo Noveno de la presente Ley.      
      .row.align-items-center.mb-5
        .col-auto 
          img(src="assets/images/pages/tema_2/icon_2_4_01.svg", alt="", style="width:75px;")
        .col 
          p.mb-0 #[strong Requisitos especiales para la habilitación de las Unidades Municipales de Asistencia Técnica Agropecuaria (UMATA), Centros Provinciales de Gestión Agroempresarial (CPGA): ] tanto las UMATA como los CPGA, pueden realizar el proceso de habilitación como EPSEA para poder prestar el servicio de Extensión Agropecuaria en el municipio correspondiente.

      .row.mb-4
        .col-12 
          p.mb-2 #[strong Recurso humano, formación profesional experiencia y desarrollo de competencias] 
          p las dos entidades UMATA y CPGA deben contar con un equipo de profesionales que presente los siguientes  perfiles:

      #accordion02.accordion.mb-5
        .card
          #heading01B.card-header
            h2.mb-0
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse01B', aria-expanded='true', aria-controls='collapse01B')
                h3.mb-0.collapsable-title Director
          #collapse01B.collapse.show(aria-labelledby='heading01B', data-parent='#accordion02')
            .card-body(style="background-color:#eaf6fc; padding-top:3rem; padding-bottom:3rem;")
              p Un (1) profesional en áreas agropecuarias o profesiones afines con el sector agropecuario, medio ambiental o pesquero con tarjeta profesional vigente; así como experiencia en el sector agropecuario, medio ambiente o pesquero no menor de tres (3) años.
                        
        .card
          #heading02B.card-header
            h2.mb-0
              button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapse02B', aria-expanded='false', aria-controls='collapse02B')
                h3.mb-0.collapsable-title Coordinador de proyectos agropecuarios
          #collapse02B.collapse(aria-labelledby='heading02B', data-parent='#accordion02')
            .card-body(style="background-color:#eaf6fc; padding-top:3rem; padding-bottom:3rem;")
              p Un (1) profesional titulado en alguna de las profesiones de los siguientes núcleos básicos de conocimiento en: agronomía; biología, microbiología y afines; ingeniería agrícola, forestal y afines; administración; economía; ingeniería agroindustrial, alimentos y afines; ingeniería agronómica, pecuaria y afines; medicina veterinaria; zootecnia, con tarjeta profesional vigente (si aplica), con título de posgrado en alguno de los siguientes niveles de formación: especialización universitaria; maestría; doctorado, con experiencia profesional específica de dos (2) años en coordinación, ejecución y supervisión de proyectos agropecuarios, pesquero, acuícola, forestal o desarrollo rural.

      .row.align-items-center.mb-5
        .col-auto 
          img(src="assets/images/pages/tema_2/icon_2_4_01.svg", alt="", style="width:75px;")
        .col 
          p.mb-0 #[strong Capacidades para ejecutar los Planes Departamentales de Extensión Agropecuaria (PDEA):] se definen como las capacidades humanas técnico-productivas, de mercadeo y comercialización, así como las capacidades sociales integrales y el fortalecimiento de la asociatividad, desarrollo empresarial, innovación, investigación y uso de las TIC, gestión sostenible de recursos naturales y desarrollo de habilidades para la participación de los productores en la política pública sectorial, con que debe contar la entidad que pretende habilitarse como EPSEA.
      .row.align-items-center.mb-5
        .col-auto 
          img(src="assets/images/pages/tema_2/icon_2_4_01.svg", alt="", style="width:75px;")
        .col 
          p.mb-0 #[strong Vínculo comprobable con organizaciones de formación, capacitación, ciencia, tecnología e innovación:] las entidades UMATA y CPGA que pretendan habilitarse como EPSEA, deberán cumplir con los mismos requisitos que las entidades privadas y que se relacionaron anteriormente.

      .jumbotron(style="background-color:#FBFFD4;").mb-5
        .row.justify.content-center.align-items-center 
          .col.mb-4.mb-lg-0 
            p(style="font-size:13pt; font-weight:600;").mb-0 Para mayor información sobre requisitos solicitados por la ley puede consultar este recurso, donde encontrarán la normatividad vigente en el sector agropecuario en Colombia.
          .col-auto 
            a(href="media/documentos/Resolucion_0422_del_05-07-2019.pdf",target="_blank",style="color:#12263F") 
              .jumbotron(style="background-color:#CDDC39;").mb-0.p-4
                .row.justify-content-center.align-items-center
                  .col-auto
                    img(src="assets/images/pages/icons/icon_media_pdf.svg", alt="", style="width:55px")
                  .col
                    p.mb-0 #[strong Recurso.] Resolución 0422 del 05/07/2019    

      .hr-divider.my-5
      .row.mb-5
        .col-12#tema_2_5
          h2 2.5 Decreto 1319 de 01 de octubre 2020 - Fondo Nacional de Extensión Agropecuaria (FNEA) 

      .row.justify-content-center.mb-4
        .col-11 
          .row.align-items-center
            .col-auto 
              img(src="assets/images/pages/tema_2/icon_2_5_01.svg", alt="", style="width:75px;")
            .col 
              p.mb-0 El Decreto Ley 1319 define la naturaleza, el objeto y la forma de operación del fondo, importante para el entendimiento de la reglamentación referente a la administración de los recursos que beneficiarán los usuarios del servicio público de extensión agropecuaria. 

      .row.justify-content-center.mb-5 
        .col-10.col-lg-11.ml-0.ml-lg-5      
          .card-media(style="background-color:#E2F5FF")
            .card-media__body 
              .card__figure
                img(src="assets/images/pages/icons/quote_icon.svg", alt="", style="width:100px")
              .card__copy                 
                p #[strong “El Fondo Nacional de Extensión Agropecuaria (FNEA) operará como una cuenta, sin personería jurídica, conformado por subcuentas departamentales y/o subsectoriales, adscrito y bajo la administración de la Agencia de Desarrollo Rural (ADR), el cual estará destinado a la financiación de la prestación del servicio Público de Extensión Agropecuaria, ejecutado a través de los Planes Departamentales de Extensión Agropecuaria (PDEA)”] 
                p.mb-0 #[strong (Decreto ley 1319 de 2020).] 

      .row.mb-5
        .col-12 
          p.text-center Según reza el Decreto, los recursos del FNEA de acuerdo con lo establecido estarán conformados por:    

      .row.justify-content-center.mb-5 
        .col-12.col-lg-7.mb-5
          img(src="assets/images/pages/tema_2/info_2_5_01.svg", alt="", style="width:100%;")

      .jumbotron(style="background-color:#E2F5FF;").mb-5
        .row.justify.content-center.align-items-center 
          .col.mb-4.mb-lg-0 
            p(style="font-size:13pt; font-weight:600;").mb-0 Para mayor información sobre los lineamientos establecidos en el decreto 1319 de 2020 puede dirigirse al siguiente recurso, donde encontrará el decreto único del sector administrativo agropecuario, pesquero y de desarrollo rural, relacionado con el Fondo Nacional de Extensión Agropecuaria - FNEA.
          .col-auto 
            a(href="media/documentos/Decreto_1319_de_2020.pdf",target="_blank",style="color:#12263F") 
              .jumbotron(style="background-color:#CDDC39;").mb-0.p-4
                .row.justify-content-center.align-items-center
                  .col-auto
                    img(src="assets/images/pages/icons/icon_media_pdf.svg", alt="", style="width:55px")
                  .col
                    p.mb-0 #[strong Recurso.] Decreto 1319 de 2020

      .hr-divider.my-5
      .row.mb-5
        .col-12.mb-5#tema_2_6
          h2 2.6 Ley 464 de 29 de diciembre 2017 - Agricultura familiar campesina y comunitaria ACFC
        .col-12.mb-3
          h3(style="font-size:18pt; font-weight:700;") El ministerio de agricultura y desarrollo rural adopta mediante la resolución 464 de 2017 los lineamientos estratégicos de política pública para la #[span(style="color:#00838F;") Agricultura Campesina, Familiar y Comunitaria (ACFC)]
        .col-12 
          p En esta normativa se busca mediante la implementación de los lineamientos coadyuvar a la implementación de varios aspectos de la reforma rural integral, para esto plantea como objetivo general de los lineamientos estratégicos de la política pública para la ACFC, planificar y gestionar la acción integral del Estado y orientar la institucionalidad social o privada, dirigida al fortalecimiento de las capacidades sociales, económicas y políticas de las familias, comunidades y organizaciones de agricultura campesina, familiar y comunitaria, sobre la base de un desarrollo rural con enfoque territorial que mejore la sostenibilidad de la producción agropecuaria y que genere bienestar y buen vivir a la población rural. (MADR, 2017).
          p En el proceso de fortalecer y proteger la ACFC deben socializarse varias definiciones algunas de las cuales son:

      .sliderWrapper(style="padding:2rem; border-radius:16px; background-color:#E2F5FF").mb-5 
        .row.justify-content-center
          .col-12
            #carousel02.carousel.slide(data-ride='carousel02')
              ol.carousel-indicators
                li.active(data-target='#carousel02', data-slide-to='0')
                li(data-target='#carousel02', data-slide-to='1')
                li(data-target='#carousel02', data-slide-to='2')
                li(data-target='#carousel02', data-slide-to='3')
                li(data-target='#carousel02', data-slide-to='4')
                
              .carousel-inner
                .carousel-item.active
                  img.d-block.w-100(src='assets/images/pages/tema_2/slider_2_6_01.svg', alt='0')
                .carousel-item
                  img.d-block.w-100(src='assets/images/pages/tema_2/slider_2_6_02.svg', alt='1')
                .carousel-item
                  img.d-block.w-100(src='assets/images/pages/tema_2/slider_2_6_03.svg', alt='2')
                .carousel-item
                  img.d-block.w-100(src='assets/images/pages/tema_2/slider_2_6_04.svg', alt='3')
                .carousel-item
                  img.d-block.w-100(src='assets/images/pages/tema_2/slider_2_6_05.svg', alt='4')                                
                                                    
              a.carousel-control-prev(href='#carousel02', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
              a.carousel-control-next(href='#carousel02', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next

      .row.mb-5
        .col-12
          p En esta norma se encuentran los #[strong criterios para la caracterización e identificación de la población], como que su actividad económica predominante sea la agropecuaria, uso de mano de obra familiar o comunitaria, la #[strong Unidad Agrícola Familiar (UAF)] no debe ser mayor a uno (1) y residir o vivir dentro del perímetro funcional de la finca, o territorio colectivo del cual se derivan sus medios de vida.        
          p.mb-0 El documento adjunto llamado #[strong lineamientos estratégicos de política pública para la agricultura campesina], familiar y comunitaria; es donde se direcciona la política de ACFC, en el marco conceptual, diagnóstico de la ACFC, teniendo como base los ejes estructurantes de los lineamientos de política pública ACFC de que trata el #[strong artículo 8 de la resolución 464 de 2017].

      .jumbotron(style="background-color:#FCFFD4;").mb-5
        .row.justify.content-center.align-items-center 
          .col.mb-4.mb-lg-0 
            p(style="font-size:13pt; font-weight:600;").mb-0 Para mayor información sobre los lineamientos establecidos en la resolución 464 de 2017 pueden dirigirse al siguiente recurso, donde encontrarán la normatividad vigente en el sector agropecuario en Colombia.
          .col-auto 
            a(href="media/documentos/Resolucion_No_000464_de_2017.pdf",target="_blank",style="color:#12263F") 
              .jumbotron(style="background-color:#CDDC39;").mb-0.p-4
                .row.justify-content-center.align-items-center
                  .col-auto
                    img(src="assets/images/pages/icons/icon_media_pdf.svg", alt="", style="width:55px")
                  .col
                    p.mb-0 #[strong Recurso.] Resolución 464 de 2017