.container#tema_3

    .header-ecored
      h1 3. Diagnóstico Rural Participativo (DRP)

    .jumbotron.bg-white       
      .row.mb-5 
        .col-12 
          img(src="assets/images/pages/tema_3/img_3_01.jpg", alt="", style="width:100%;")

      .row.align-items-center.mb-5
        .col-auto.d-none.d-md-inline
          img(src="assets/images/pages/tema_3/icon_3_01.svg", alt="", style="width:95px;")
        .col 
          p El DRP es una metodología, utilizada para realizar #[strong diagnósticos en comunidades rurales]. Tiene la característica de ser participativa, esto quiere decir, que en el desarrollo de las técnicas escogidas para la recolección de la información los integrantes de la comunidad #[strong intervienen activamente en la construcción de las respuestas y en la toma de decisiones]. El DRP da la oportunidad a todos los miembros de la comunidad a participar en el diagnóstico independientemente de no saber leer y escribir, producto de las herramientas utilizadas (Instituto de Formación Permanente, 2008, Diagnóstico rural participativo y planificación comunitaria).

      .jumbotron(style="background-color:#F4FF8D;").mb-5 
        p.mb-0 #[strong El DRP es un conjunto de técnicas y herramientas que permite que las comunidades hagan su propio diagnóstico y de ahí comiencen a auto-gestionar su planificación y desarrollo]. Esta metodología es versátil y dependiendo de la habilidad del equipo facilitador es posible utilizar la información no solo para identificar las necesidades y problemas de la comunidad en los aspectos técnicos, sociales, ambientales, o económicos; sino que puede iniciarse un proceso de identificación de ideas para innovación o procesos de investigación. Su objetivo principal es “apoyar la autodeterminación de la comunidad a través de la participación y así fomentar un desarrollo sostenible.” Expósito, 1999.

      .row.mb-4 
        .col-12.col-lg-6 
          p Igualmente propone #[strong siete pasos que conducen al diseño de la planeación para el diagnóstico], para esto propone establecer un objetivo del diagnóstico, seleccionar y preparar el equipo facilitador, identificar participantes potenciales, identificar las expectativas de los y las participantes en el DRP, discutir las necesidades de información, seleccionar herramientas de investigación y por último diseñar el proceso de diagnóstico, Exposito, 1999.
        .col-12.col-lg-6 
          p Para el trabajo de campo, #[strong se exponen tres pasos o momentos iniciales para abordar el trabajo con la comunidad identificada]; el primero presentación  del equipo DRP en la comunidad, segundo el análisis de la situación actual con sus problemas, potencialidades y limitaciones y por último la búsqueda de soluciones haciendo énfasis en problemas y potencialidades. Exposito, 1999.

      .row.mb-4
        .col-12 
          p Paso seguido se muestra una serie de técnicas y herramientas participativas (Caja de Herramientas) que pueden ser usadas teniendo en cuenta el objetivo planteado, las necesidades de información que haya identificado el equipo facilitador y las características identificadas en la comunidad. Expósito,1999.

      .row.mb-5
        .col.mr-0.mr-lg-5.order-last.order-lg-first
          p En la etapa final del proceso de diagnóstico llamado #[strong análisis, documentación y presentación] el autor hace un recorrido por las clases de variables que podemos obtener en este proceso (cualitativas y cuantitativas); recuerda que los documento obtenidos en los talleres (mapas, registros, fotos, videos, encuestas, etc.) deben tenerse siempre presentes para poder consultarlos nuevamente, con el fin de completar información o de obtener datos que no se identificaron en un primer momento; #[strong la elaboración del informe es un paso muy importante porque es en este documento que se consolida las fortalezas, necesidades y problemas que presenta la comunidad;] en este momento se convierte en el insumo para el siguiente paso en la formulación de proyectos agropecuarios. Expósito,1999.
        .col-12.col-lg-auto.order-first.order-lg-last.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_3/icon_3_02.svg", alt="", style="width:145px; display:block; margin:0 auto;")

      .jumbotron(style="background-color:#E2F5FF;").mb-5
        .row.justify.content-center.align-items-center 
          .col.mb-4.mb-lg-0 
            p(style="font-size:13pt; font-weight:600;").mb-0 Para mayor información sobre Diagnóstico Rural Participativo consultar el siguiente documento.
          .col-auto 
            a(href="media/documentos/Diagnostico_Rural_Participativo.pdf",target="_blank",style="color:#12263F") 
              .jumbotron(style="background-color:#CDDC39;").mb-0.p-4
                .row.justify-content-center.align-items-center
                  .col-auto
                    img(src="assets/images/pages/icons/icon_media_pdf.svg", alt="", style="width:55px")
                  .col
                    p.mb-0 #[strong Recurso.] Diagnostico Rural Participativo